### CSV 파일 DF으로 저장
- panddas.read_csv() 함수 사용

In [29]:
# 모듈 로딩
import pandas as pd

In [30]:
# 데이터 준비 - 파일
data_file=r'C:\Users\KDP-27\Desktop\EX_PANDAS06\DAY02_0712\data.csv'

In [31]:
data_file1=r'C:\Users\KDP-27\Desktop\EX_PANDAS06\DAY02_0712\data1.csv'

In [32]:
# CSV 파일 ==> DataFrame으로 저장
csvDF=pd.read_csv(data_file)

In [33]:
csvDF1=pd.read_csv(data_file1,sep=' ',header=None)

In [34]:
# 저장된 DF 확인
csvDF

   no  name  age gender
0   1  Hong   10      F
1   2  Park   13      F
2   3   Kim   12      M
3   4   Lee   16      F
4   5   Lim   15      M

In [36]:
csvDF1

   0     1   2  3
0  1  Hong  10  F
1  2  Park  13  F
2  3   Kim  12  M
3  4   Lee  16  F
4  5   Lim  15  M