### DataFrame 행/열 인덱스 변경
- 방법1: 속성명으로 변경  ===> 전체 변경
- 방법2: 메서드로 변경 ==> 일부 변경

In [28]:
# 모듈 로딩
import pandas as pd

In [29]:
# 데이터 준비
data={'name':['홍길동','마징가','원더우면'],
      'job': ['의적','로봇','영웅'],
      'gender':['남','남','여'],
      'age':[100,200,300],
      'height':[180,300,200]}

In [30]:
# DF로 데이터 저장
dataDF=pd.DataFrame(data)
print(dataDF)

   name job gender  age  height
0   홍길동  의적      남  100     180
1   마징가  로봇      남  200     300
2  원더우면  영웅      여  300     200

In [31]:
#[실습] 열 인덱스를 이름, 직업, 성별, 나이, 키로 변경

dataDF.columns='이름', '직업', '성별', '나이', '키'

In [32]:
dataDF

     이름  직업 성별   나이    키
0   홍길동  의적  남  100  180
1   마징가  로봇  남  200  300
2  원더우면  영웅  여  300  200

In [33]:
## [실습] 일부 변경 :  키---> 신장 변경 

dataDF.rename(columns={'키':'신장'})

     이름  직업 성별   나이   신장
0   홍길동  의적  남  100  180
1   마징가  로봇  남  200  300
2  원더우면  영웅  여  300  200

In [34]:
##==> inplace 매개변수/파라미터 True 설정 : 원본 DF을 변경

dataDF.rename(columns={'키':'신장'},inplace=True)
dataDF

     이름  직업 성별   나이   신장
0   홍길동  의적  남  100  180
1   마징가  로봇  남  200  300
2  원더우면  영웅  여  300  200

In [35]:
## [실습] 행 인덱스 0,1,2 ===> p0,p1,p2로 변경

dataDF.index='p0','p1','p2'

In [36]:
dataDF

      이름  직업 성별   나이   신장
p0   홍길동  의적  남  100  180
p1   마징가  로봇  남  200  300
p2  원더우면  영웅  여  300  200

In [37]:
## [실습] 행 인덱스 p2==> END로 변경
print(dataDF.rename(index={'p2':'END'}))

       이름  직업 성별   나이   신장
p0    홍길동  의적  남  100  180
p1    마징가  로봇  남  200  300
END  원더우면  영웅  여  300  200

In [38]:
dataDF

      이름  직업 성별   나이   신장
p0   홍길동  의적  남  100  180
p1   마징가  로봇  남  200  300
p2  원더우면  영웅  여  300  200

In [39]:
dataDF.rename(index={'p2':'END'},inplace=True)
dataDF

       이름  직업 성별   나이   신장
p0    홍길동  의적  남  100  180
p1    마징가  로봇  남  200  300
END  원더우면  영웅  여  300  200