### [Series 연산 - 2]
- 원소 값이 비어 있는 경우 
- 인덱스가 서로 다른 Series의 경우

In [31]:
# [1] 모듈 로딩
import pandas as pd
import math
import numpy as np

In [32]:
# 빈칸 즉, 비어있다는 의미를 나타내는 문자 ==> pandas에 없음
# math 모듈과 numpy 패키지를 사용
math.nan, np.NaN

(nan, nan)

In [33]:
# [2] 데이터 준비
bibibig=[13, 600, np.NaN, 1500]
merona=[32, 700, 1200, 1500]

In [34]:
# [3] 1D List ==> Series 형태 저장
sr1=pd.Series(bibibig) # NaN 넣으면 float으로 됨 그래서 dtype='int16'을 못씀
sr2=pd.Series(merona, dtype='int16')
print(sr1, sr2, sep='\n\n')

0      13.0
1     600.0
2       NaN
3    1500.0
dtype: float64

0      32
1     700
2    1200
3    1500
dtype: int16

In [35]:
# [4-1] 연산 수행 : Series + 숫자
# - 산술 연산
sr1 % 5

0    3.0
1    0.0
2    NaN
3    0.0
dtype: float64

In [36]:
#- 비교 연산
sr1 >= 5
#NaN과 비교는 False로 나옴 (NaN이 아니라)

0     True
1     True
2    False
3     True
dtype: bool

In [37]:
# [4-2] 연산 수행 : Series + Series
# - 산술 연산
sr1 * sr2

0        416.0
1     420000.0
2          NaN
3    2250000.0
dtype: float64

In [38]:
#- 비교 연산 #NaN과 비교는 False로 나옴 (NaN이 아니라)

sr1 != sr2

0     True
1     True
2     True
3    False
dtype: bool

In [43]:
# [5] 인덱스가 다른 Seires끼리 연산 수행
# - sr3 생성 : sr1에서 인덱스 변경 [0,1,2,3] ==> [0,2,3,4]
sr3=sr2.rename(index={1:2, 2:3, 3:4})
print(sr3)
print(sr2)

0      32
2     700
3    1200
4    1500
dtype: int16
0      32
1     700
2    1200
3    1500
dtype: int16

In [42]:
# - 산술연산 (인덱스가 서로 다를 경우 연산안하고 NaN이라고 나옴)
sr2 + sr3

0      64.0
1       NaN
2    1900.0
3    2700.0
4       NaN
dtype: float64

In [44]:
#- 비교 연산 : ERROR 발생
# sr2 > sr3
#아예 비교를 못함 에러뜸

In [47]:
# 그래서 이거를 하려면 인덱스를 똑같이 맞춰야함 reset_index로
sr3=sr3.reset_index(drop=True)

In [49]:
# 그러고 난 후 비교하면 비교가능
sr2 > sr3

0    False
1    False
2    False
3    False
dtype: bool

In [53]:
# [6] NaN에 대한 연산 수행을 못하는 것 해결 위한 메서드 제공
# - fill_value : 빈 칸 즉, NaN의 값을 지정 .은 float형태로 지정하겠다는 뜻
sr1.add(sr2, fill_value=0.)

0      45.0
1    1300.0
2    1200.0
3    3000.0
dtype: float64

In [54]:
# - 인덱스가 다른 Series 연산에서 메서드 사용
sr3=sr2.rename(index={1:2, 2:3, 3:4})

In [56]:
sr2.add(sr3, fill_value=0.0) #가능!

0      64.0
1     700.0
2    1900.0
3    2700.0
4    1500.0
dtype: float64