#### [titanic]
- 객실 등급과 탑승자
- 객실 등급과 생존자

In [58]:
# [1] 모듈 설정
import pandas as pd

In [59]:
# [2] 데이터 준비하기
file_name='titanic.csv'

In [60]:
# [3] csv 파일 ==> DataFrame 형태로 저장
DF=pd.read_csv(file_name)

In [61]:
DF.shape

(891, 15)

In [62]:
# 중복 데이터 확인
DF.duplicated().sum()

107

In [63]:
# 중복 삭제
DF=DF.drop_duplicates(keep='last')

In [64]:
DF.shape

(784, 15)

In [65]:
#기본 정보 확인
DF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 784 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     784 non-null    int64
 1   pclass       784 non-null    int64
 2   sex          784 non-null    object
 3   age          678 non-null    float64
 4   sibsp        784 non-null    int64
 5   parch        784 non-null    int64
 6   fare         784 non-null    float64
 7   embarked     782 non-null    object
 8   class        784 non-null    object
 9   who          784 non-null    object
 10  adult_male   784 non-null    bool
 11  deck         202 non-null    object
 12  embark_town  782 non-null    object
 13  alive        784 non-null    object
 14  alone        784 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 87.3+ KB

In [66]:
#   - 컬럼과 실제 데이터 타입 확인
print(DF.head(),DF.tail(),sep='\n\n')

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
5         0       3    male   NaN      0      0   8.4583        Q  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
5    man        True  NaN   Queenstown    no   True

     survived  pclass     sex   age  sibsp  parch   fare embarked   class  \
886         0       2    male  27.0      0      0  13.00        S  Second
887         1       1  female  19.0      0      0  30.00        S   First
888         0       3  female   NaN      1      2  23.45        S   Third
889         1       1    male  26.0      0      0  30.00        C   First
890         0       3    male  32.0      0      0   7.75        Q   Third

       who  adult_male deck  embark_town alive  alone
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

In [67]:
# 컬럼별 데이터의 특성 확인 후 자료형 변환 표준화
DF2=DF.copy()
DF2['survived']=DF2['survived'].astype('category')
DF2['pclass']=DF2['pclass'].astype('category')
DF.shape

(784, 15)

In [68]:
#필요한 컬럼만 추출
DF3=DF2[['survived','pclass','sex','age']]
DF2.shape

(784, 15)

In [69]:
# 결측치 확인
DF3.isna().sum()

survived      0
pclass        0
sex           0
age         106
dtype: int64

In [70]:
# 생존 비율
DF3.index
DF3['survived'].value_counts()

survived
0    461
1    323
Name: count, dtype: int64

In [71]:
(DF3['survived'].value_counts()/DF3.shape[0])*100

survived
0    58.80102
1    41.19898
Name: count, dtype: float64

    - 전체 생존율 : 41.20% (784명 중 323명)

In [72]:
# 전체 탑승객 객실별 비율
print(DF3['pclass'].value_counts())
print((DF3['pclass'].value_counts()/DF3.shape[0])*100)

pclass
3    405
1    214
2    165
Name: count, dtype: int64
pclass
3    51.658163
1    27.295918
2    21.045918
Name: count, dtype: float64

    - 탑승객 비율
        * 1등석 : 27.30%(214/784)
        * 2등석 : 21.04%(165/784)
        * 3등석 : 51.66%(405/784)

In [73]:
# 객실별 생존율
survived_idx=DF3[DF3['survived']==1].index
DF3.loc[survived_idx]['pclass'].value_counts()

pclass
1    135
3    104
2     84
Name: count, dtype: int64

In [74]:
#객실별 탑승객 수
i=1
c=[]
while i<=3:
    c+=[DF3[DF3['pclass']==i]['pclass'].count()]
    i+=1
print(c)

[214, 165, 405]

In [75]:
#객실별 생존자 수
i=1
s_c=[]
while i<=3:
    s_c+=[DF3[(DF3['survived']==1)&(DF3['pclass']==i)]['pclass'].count()]
    i+=1
print(s_c)

[135, 84, 104]

In [76]:
# 객실별 생존율
i=0
while i<=2:
    print(f'{i+1}등석 생존율 : {(s_c[i]/c[i])*100}')
    i+=1

1등석 생존율 : 63.084112149532714
2등석 생존율 : 50.90909090909091
3등석 생존율 : 25.679012345679013

    - 객실별 생존율
        *1등석 : 63.08% (135/214)
        *2등석 : 50.90% (84/165)
        *3등석 : 25.68% (104/405)
        *전 체 : 38.38% (323/784)