#### [데이터 필러링 - Boolean Indexing]
- Series/DataFrame에서 원하는 조건의 데이터만 추출하기 위한 것
- True와 False로 구성된 데이터 ===> 인덱스로 사용

In [55]:
# [1] 모듈로딩
import pandas as pd

In [56]:
# [2] 데이터 준비
data={'name':['마징가','베트맨','홍길동'],
      'age':[25,31,19],
      'gender':['남','남','여']}

In [57]:
# [3] Dict 데이터 ==> DataFrame 형태로 저장
dataDF=pd.DataFrame(data)

dataDF

  name  age gender
0  마징가   25      남
1  베트맨   31      남
2  홍길동   19      여

In [58]:
# [4] 데이터 추출
# (1) 성별이 남자인 데이터만 추출
bool_index=dataDF['gender'] == '남'

In [59]:
dataDF[bool_index]

  name  age gender
0  마징가   25      남
1  베트맨   31      남

In [60]:
# (2) 20세 이상의 남자 데이터만 추출
bool_index=(dataDF['age']>=30) & (dataDF['gender']=='남')

In [61]:
dataDF[bool_index]

  name  age gender
1  베트맨   31      남

In [62]:
# (3) 20세 이하이거나 성별이 남자인 데이터만 추출
bool_index=(dataDF['age']<=20)|(dataDF['gender']=='남')

In [63]:
dataDF[bool_index]

  name  age gender
0  마징가   25      남
1  베트맨   31      남
2  홍길동   19      여

In [64]:
# (4) 성별이 남자인 데이터만 추출
mask=(data['gender']=='남')

In [65]:
# 성별이 남자가 아닌 데이터만 추출
# ~ True => False           ~ False => True
mask=~(data['gender']=='남')